<h1>Contact me</h1>
<section>
	<p class="text-box center">	If you are a tech recruiter or hiring manager, I would love to hear from you! As I launch into this field, I am very excited about the chance to build products and improve user experience through quality.  Previously, as a Manager of Customer Success, I had little opportunity to change product.  It was incredibly frustrating to hear requests from customers, yet be so limited in my ability to satisfy those desires.
</section>
<section class="center">
	<h3>My contact info</h3>
	<div>Phone: 999-999-9999</div>
	<div>Email: ryan@horlacher.com</div>
</section>