<h1>About me</h1>
<div class="large">Early life</div>
<p class="box">Born in Las Vegas, Nevada, I was the second child in my parent's young family.  I use the term 'second' loosely as I was not the second child as most would expect.  My twin brother was born only 7 minutes before me.  As the second child in this situation, I never really had an older brother and all the typical childhood experiences that accompany such a relationship.  Lonnie, my twin, and I viewed ourselves as close to equal as was possible.  We recognized the other's superiority in a particular skill perhaps, but never did that translate into any exercised authority.</p>

<div class="large">Bunkerville</div>
<p class="box">During those early years, we moved quite a few times, but when I was 8, my parents made their largest and final move to Bunkerville, NV.  Not a huge move by some standards, but for an 8 year old accustomed to the strict rules necessary to keep a boy safe in a large city, the transition to small town life felt like coming out of a hole.  My brothers and I, two younger ones by now, were allowed an unprecedented level of automony and freedom.  Previously confined to our yard, we were given run of an entire town.  I doubt the independence I would later demonstrate would have developed had this move not taken place.</p>

<div class="large">Athletics</div>
<p class="box">My adolescent years are probably best described by the sports I chose to participate in.  Baseball and football were the standby organized opitons, but I played just about anything with a winner and some sweat.  I was a better than average football player and a somtimes average baseball player.  I made all the traveling teams, but I look back and realize I was not a star by any stretch.</p>

<div class="large">Professional</div>
<p class="box">My professional life has been short thus far. Yet while working for AHCL, I was part the the team during an acquisition transition and then was promoted twice in just under a year.  At it's largest, my team consisted of 7 members, all college educated, some with more experience than me.</p>