<!DOCTYPE html>
<html>
<head>
	<title>About Ryan Horlacher</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<header>
		<a href="/">About Ryan Horlacher</a>
		<a href="/resume">View my resume</a>
		<a href="/contact">Contact me</a>
	</header>
	<%= yield %>
</body>
	<footer>
		<a href="/">About Ryan Horlacher</a>
		<a href="/resume">View my resume</a>
		<a href="/contact">Contact me</a>
	</footer>
</html>