<h1>Resume</h1>
<div class="large center">Work History</div>
<section>
	<div>Prosper Healthcare Lending</div>
	<div class="large">Manager - Customer Success</div>
	<div>As a manager I hired, trained, and motivated a team of highly educated Customer Success Managers</div>
</section>
<section>
	<div>American Healthcare Lending</div>
	<div>Customer Success Manager</div>
	<p>As a CSM I mastered the basics of renewal, relationships, and challenger selling.  I managed the largest book of business in the company.</p>
</section>
<section>
	<div>HomeShield Pest Control</div>
	<div>Sales Manager</div>
	<p>Recruited and managed and summer sales team</p>
</section>
<div class="large center">Education</div>
<section>
	<div>Masters of Businesss Administration</div>
	<div>Southern Utah University</div>
</section>
<section>
	<div>Bacheleors of Businesss Management</div>
	<div>Southern Utah University</div>
</section>